*{
    margin: 0px;
    padding: 0px;

}

#navbar{
    /* border: 1px solid red; */
    display: flex;
    height: 50px;
    justify-content: space-between;
    
    background-color: #017bfe;
    border-radius: 5px;
}
#part1{
    /* border: 1px solid green; */
    width: 50%;
    display: flex;   
    align-items: center;
    justify-content: space-around;
    /* padding-left: 20px; */
    margin-left: 65px;
    font-family: serif;
}
#part1 > h2 a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
    color: #f2f60e;

}

#search_books{
    border: 1px solid gray;
    font-size: 13px;
    padding: 9.50px 180px 9.50px 15px;
    border-radius: 5px;
}
#search_btn{
    border: 1px solid gray;
    font-size: 14px;
    padding: 9px 15px 9px 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: -7px;
    cursor: pointer;
    background-color: #ffffff;
    border-left: 1px solid gray;

}


#part2{
    /* border: 1px solid yellow; */
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 120px;
    font-size: 11px;
    font-weight: 100;
    color: #ffffff;
    cursor: pointer;
    font-family: Verdana;
    
}
#part2 > h3 a{
    text-decoration: none;
    color: #ffffff;
}


/* Fooet Css start  */

#about_us{
    /* border: 1px solid blue; */
    width: 85%;
    margin: auto;
    padding-left: 30px;
    margin-top: 5%;
    padding-bottom: 10px;
}
#about_us h3{
    font-size: 19px;
    font-weight: 100;
    font-family: serif;
}

#about_us ul{
    /* border: 1px solid teal; */
    margin-left: 4%;
    margin-top: 1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #017bfe;
    

}
#about_us >ul li span a {
    text-decoration: none;
    color: #017bfe;
}
#about_us >ul li span :hover{
    border-bottom: 1px solid blue ;
    cursor: pointer;
    color: blue;

}


/* Fooet Css end  */




/* About page css start  */

#about_para{
    width: 85%;
    margin: auto;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 50px;
    font-family: Georgia;
}
#about_para1, #about_para2, #about_para3, #about_para4{
    margin-bottom: 18px;
    line-height: 25px;
}

/* About page css end  */



/* SignIn page css start  */

#signin{
    /* border: 1px solid green; */
    width: 82%;
    height: 350px;
    margin-left: 8%;
    margin-top:2% ;
    font-family: serif;

}

#signin h2{
    font-size: 30px;
    font-weight: 100;
    
}
#signIn_email, #signIn_password{
    border: 1px solid gray;
    padding: 8px 925px 8px 10px;
    border-radius: 5px;
    margin-top: 8px;
}

#login_btn{
    border: 0px;
    display: block;
    font-size: 15px;
    padding: 7px 10px;
    border-radius: 5px;
    background-color: #5cb85c;
    color: #ffffff;
    margin-top: 17px;
    cursor: pointer;
}
#sign_up_link{
    text-decoration: none;
    display: block;
    margin-top: 17px;
    font-size: 15px;
}

#signin > a span :hover{
    border-bottom: 1px solid rgba(0, 0, 255, 0.493);
}


#signin > h4{
    margin-top: 17px;
    font-size: 14px;
}
#checkbox, #checkbox+span{
    margin-top: 17px;
}
#signin_forgot{
    display: block;
    text-decoration: none;
    font-size: 15px;
    margin-top: 7px;

}

/* SignIn page css end  */

/* SignUp page css start  */

#signup{
    /* border: 1px solid green; */
    width: 82%;
    height: 500px;
    margin-left: 8%;
    margin-top:2% ;
    font-family: serif;

}
#signup > h2{
    font-size: 33px;
    font-weight: 100;

}

#signup_name,#signup_number ,#signup_email, #signup_password,#signup_cpassword{
    border: 1px solid gray;
    padding: 8px 925px 8px 10px;
    border-radius: 5px;
    margin-top: 8px;

}  
#signup h4{
    margin-top: 17px;
    font-size: 14px;

}
#signup_btn{
    border: 0px;
    display: block;
    font-size: 15px;
    padding: 7px 10px;
    border-radius: 5px;
    background-color: #5cb85c;
    color: #ffffff;
    margin-top: 17px;
    cursor: pointer;

}
#signup_btn + a{
    /* border: 1px solid red; */
    display: block;
    text-decoration: none;
    margin-top: 17px;
    width: 43.63px;

}

/* SignUp page css end  */


/* Main Products Css start  */


#products{
    /* border: 1px solid red; */
    width: 85%;
    /* height: 500px; */
    margin: auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(auto,250);
    gap: 20px;
    
}
#head{
    margin-left: 7%;
    margin-top: 2%;
    font-family: serif;
    font-size: 25px;
    font-weight: 100;
}

.bookBox{
    border: 1px solid rgba(128, 128, 128, 0.815);
    border-radius: 5px;
    padding: 15px;
    height: 500px;
    cursor: pointer;
    

   
}
.bookImg{
    width: 100%;
    height: 70%;
    /* margin: 20px; */
    /* padding: 5px; */
}

.bookTitle{
    font-family: serif;
    font-weight: 100;
    line-height: 19px;
    margin-top: 20px;
    
}

.bookPrice{
    color: #017bfeb2;
    margin-top: 5px;
}

.viewBox{
    /* border: 1px solid green; */
    display: flex;
    width: 100%;
    height: 45px;
    margin-top: 3px;
    cursor: pointer;
    border-top: 1px solid rgba(128, 128, 128, 0.651);
    align-items: center;
    

}
.bookView{
    border-right: 1px solid rgba(128, 128, 128, 0.623);
}

.bookView, .bookDetails{
    /* border: 1px solid teal;   */
    color: #017bfeb2;
    width: 50%;
    text-align: center;
    align-items: center;
    font-family: Verdana;
    font-size: 13px;
    font-weight: 100;
    height: 25px;
    

}
.bookView :hover{
    border-bottom: #017bfe  ;
}









/* Main Products Css end  */

